

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-basis: auto;
  align-items: center;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

content > h2 {
  margin: 0;
  margin: 56px 0 16px 0;
}

footer {
  background-color: #262626;
  height: 552px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  flex-basis: auto;
  align-items: center;
}

.container {
  width: 962px;

}

.col-1 {
  flex-basis: 8.33%;
  vertical-align: middle;
}

.col-2 {
  flex-basis: 16.66%;
  vertical-align: middle;
}
.col-3 {
  flex-basis: 25%;
  vertical-align: middle;
}

.col-4 {
  flex-basis: 33.333%;
  vertical-align: middle;

}

.col-5 {
  flex-basis: 50%;
  vertical-align: middle;
}

.item {
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  align-items: center;
}

.button {
  vertical-align: middle;
  border: 1px solid black;
  height: 40px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.basket {
  margin-left: 10px;
}

.reg {
  background-color: #262626;
  color: white;
}

.reg:hover {
  background-color: white;
  color: black;
}

.sing:hover {
  background-color: #262626;
  color: white;
}
.search {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-basis: auto;
  align-items: center;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid rgba(0.46, 0.46, 0.46, 0.3);

}

.container > .search {
  text-align: justify;
}

input[type="search"] {
    border: none;
    outline: none;
    vertical-align: middle;
    height: 24px;
    margin-left: 15px;
    width: 223px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menuitem {
  margin-bottom: 16px;
  height: 366px;
}

.menuitem > img {
  max-width: 315px;
  max-height: 256px;

}

.menuitem > h4 {
  margin: 0;
  margin-top: 16px;
}

.menuitem > h5, h6 {
  margin: 0;
  margin-top: 4px;
}

.logo-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  height: 116px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
    .menuitem:last-child {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  select {
    background-color: #3B3B3B;
    border-color: #3B3B3B;
    color:  white;
  }
.select {
  padding-left: 16px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 227px;
  background-color: #3B3B3B;
}
